# https://docs.docker.com/go/build-context-dockerignore/

*

!generator
!src
!shared/constants
!shared/global
!shared/spec
!shared/types
!shared/utils
!static
static/spec.json

!bun.lock
!README.md
!package.json
!tsconfig.json
