# A full list of relevant environment variables and their allowed values can be found by reading
# src/global/config.ts, all of them are optional besides the ones included below:

API_PORT=5000:5000

DISCORD_CLIENT_ID=1475282311980253234

DISCORD_CLIENT_SECRET=abcdefg1234567890_abcdefg1234567890

DB_HOST=localhost

DB_USER=postgres

DB_NAME=pantheon-local

DB_PASSWORD=password123

DB_PORT=5432:5432

GIT_COMMIT_HASH=unknown

# === If running the API in Docker, these environment variables can also be used:

# How to handle restarts of the server if it crashes.
# https://docs.docker.com/compose/compose-file/05-services/#restart
RESTART_POLICY=on-failure:5

# Hard limit on the amount of memory allocated for the server to use.
# https://docs.docker.com/compose/compose-file/05-services/#mem_limit
HARD_MEMORY_LIMIT=200mb

# Soft limit on the amount of memory allocated for the server to use.
# https://docs.docker.com/compose/compose-file/05-services/#mem_reservation
SOFT_MEMORY_LIMIT=100mb
