{
    "$schema": ".github/openapi.schema.json",
    "openapi": "3.0.3",
    "info": {
        "title": "Pantheon API",
        "description": "Official web API for the Pantheon community server network.\n\nFor more information please see the [Github repository](https://github.com/Pantheon-Community/PantheonAPI).",
        "contact": {
            "name": "NachoToast",
            "url": "https://github.com/NachoToast",
            "email": "nachotoast@pantheoncommunity.org"
        },
        "license": {
            "name": "MIT",
            "url": "https://github.com/Pantheon-Community/PantheonAPI/blob/main/LICENSE"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.pantheoncommunity.org",
            "description": "Production Server"
        },
        {
            "url": "http://localhost:{port}",
            "description": "Local Development Server",
            "variables": {
                "port": {
                    "description": "`API_PORT` environment variable.",
                    "default": "5000"
                }
            }
        }
    ],
    "paths": {
        "/": {
            "get": {
                "tags": [
                    "Miscellaneous"
                ],
                "operationId": "getRoot",
                "responses": {
                    "200": {
                        "description": "Basic hello message.",
                        "content": {
                            "text/html": {}
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError400"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited429"
                    }
                }
            }
        },
        "/ip": {
            "get": {
                "tags": [
                    "Miscellaneous"
                ],
                "operationId": "getIp",
                "description": "IP address information endpoint, useful for debugging proxies.",
                "responses": {
                    "200": {
                        "description": "IP address of request, may be `::` if viewing from the same network.",
                        "content": {
                            "text/html": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/Ip"
                                        },
                                        {
                                            "$ref": "#/components/schemas/Null"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError400"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited429"
                    }
                }
            }
        },
        "/spec": {
            "get": {
                "tags": [
                    "Miscellaneous"
                ],
                "responses": {
                    "200": {
                        "description": "OpenAPI specification for the FoundationX API.",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/api-docs": {
            "get": {
                "tags": [
                    "Miscellaneous"
                ],
                "responses": {
                    "200": {
                        "description": "This document.",
                        "content": {
                            "text/html": {}
                        }
                    }
                }
            }
        },
        "/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "operationId": "postLogin",
                "description": "Endpoint for completing the Discord OAuth2 login flow.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoginRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "User data and a token for making elevated requests to the API.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuthResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError400"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited429"
                    },
                    "501": {
                        "$ref": "#/components/responses/SecondaryRequestError501"
                    }
                }
            }
        },
        "/logout": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "operationId": "postLogout",
                "security": [
                    {
                        "userToken": []
                    }
                ],
                "description": "Endpoint for ending an existing OAuth2 session.",
                "responses": {
                    "200": {
                        "description": "No data."
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError400"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError401"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited429"
                    },
                    "501": {
                        "$ref": "#/components/responses/SecondaryRequestError501"
                    }
                }
            }
        },
        "/refresh": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "operationId": "postRefresh",
                "security": [
                    {
                        "userToken": []
                    }
                ],
                "description": "Endpoint for refreshing an existing OAuth2 session.",
                "responses": {
                    "200": {
                        "description": "User data and a token for making elevated requests to the API.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuthResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError400"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError401"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited429"
                    },
                    "501": {
                        "$ref": "#/components/responses/SecondaryRequestError501"
                    }
                }
            }
        },
        "/lookup/discord-to-steam": {
            "parameters": [
                {
                    "required": true,
                    "in": "query",
                    "name": "ids",
                    "explode": false,
                    "schema": {
                        "type": "array",
                        "minItems": 1,
                        "maxItems": 60,
                        "items": {
                            "$ref": "#/components/schemas/DiscordId"
                        }
                    }
                }
            ],
            "get": {
                "tags": [
                    "Lookups"
                ],
                "operationId": "getDiscordToSteam",
                "security": [],
                "description": "Endpoint for looking up Steam user info from Discord IDs.",
                "responses": {
                    "200": {
                        "description": "Array of the relevant Steam users for each of the the given Steam IDs.\n\nNote that this does map 1:1 with the given Discord ID array, since a Discord ID may not be associated with any steam users.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "$ref": "#/components/schemas/SteamUserFromDiscord"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError400"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError401"
                    },
                    "403": {
                        "$ref": "#/components/responses/ForbiddenError403"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited429"
                    }
                }
            }
        },
        "/lookup/steam-to-discord": {
            "parameters": [
                {
                    "required": true,
                    "in": "query",
                    "name": "ids",
                    "explode": false,
                    "schema": {
                        "type": "array",
                        "minItems": 1,
                        "maxItems": 60,
                        "items": {
                            "$ref": "#/components/schemas/SteamId64"
                        }
                    }
                }
            ],
            "get": {
                "tags": [
                    "Lookups"
                ],
                "operationId": "getSteamToDiscord",
                "security": [],
                "description": "Endpoint for looking up Discord user info from Steam IDs.",
                "responses": {
                    "200": {
                        "description": "Array of the relevant Discord user(s) for the given Steam IDs.\n\nNote that this does map 1:1 with the given Steam ID array, since a Steam ID can be associated with any number of users.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/UserFromSteam"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError400"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError401"
                    },
                    "403": {
                        "$ref": "#/components/responses/ForbiddenError403"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited429"
                    }
                }
            }
        },
        "/lookup/steam-users/{id}": {
            "parameters": [
                {
                    "required": true,
                    "in": "path",
                    "name": "id",
                    "schema": {
                        "$ref": "#/components/schemas/SteamId64"
                    }
                }
            ],
            "get": {
                "tags": [
                    "Lookups"
                ],
                "operationId": "getSteamUserInfo",
                "security": [],
                "description": "Endpoint for getting basic information about a Steam user.",
                "responses": {
                    "200": {
                        "description": "Steam user info, hopefully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SteamUserInfo"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError400"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited429"
                    },
                    "501": {
                        "$ref": "#/components/responses/SecondaryRequestError501"
                    }
                }
            }
        },
        "/users/@me": {
            "get": {
                "tags": [
                    "User"
                ],
                "operationId": "getMe",
                "security": [
                    {
                        "userToken": []
                    }
                ],
                "description": "Endpoint for getting information about the currently logged-in user.\n\nNote that the `/login` endpoint returns a superset of this information, so you do not need to call this after logging in.",
                "responses": {
                    "200": {
                        "description": "User information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetMeResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError400"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError401"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited429"
                    },
                    "501": {
                        "$ref": "#/components/responses/SecondaryRequestError501"
                    }
                }
            }
        },
        "/users/@me/sessions": {
            "get": {
                "tags": [
                    "User"
                ],
                "operationId": "getMeSessions",
                "security": [
                    {
                        "userToken": []
                    }
                ],
                "description": "Endpoint for getting all the current sessions of the currently logged-in user.",
                "responses": {
                    "200": {
                        "description": "User sessions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/UserSessionBasic"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError400"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError401"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited429"
                    }
                }
            }
        },
        "/users/@me/steam-users": {
            "get": {
                "tags": [
                    "User"
                ],
                "operationId": "getMeSteamUsers",
                "security": [
                    {
                        "userToken": []
                    }
                ],
                "description": "Endpoint for getting specifically the Discord Steam connections for the currently logged-in user.",
                "responses": {
                    "200": {
                        "description": "User Steam connections.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/SteamUserBasicWithTimes"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError400"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError401"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited429"
                    },
                    "501": {
                        "$ref": "#/components/responses/SecondaryRequestError501"
                    }
                }
            }
        },
        "/users/@me/steam-users/primary": {
            "delete": {
                "tags": [
                    "User"
                ],
                "operationId": "deleteMeSteamUsersPrimary",
                "security": [
                    {
                        "userToken": []
                    }
                ],
                "description": "Endpoint for clearing the primary Steam connection of the logged-in user's account.",
                "responses": {
                    "200": {
                        "description": "Success."
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError400"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError401"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited429"
                    }
                }
            }
        },
        "/users/@me/steam-users/primary/{id}": {
            "parameters": [
                {
                    "required": true,
                    "in": "path",
                    "name": "id",
                    "schema": {
                        "$ref": "#/components/schemas/DiscordId"
                    }
                }
            ],
            "put": {
                "tags": [
                    "User"
                ],
                "operationId": "putMeSteamUsersPrimary",
                "security": [
                    {
                        "userToken": []
                    }
                ],
                "description": "Endpoint for setting the primary Steam connection of the logged-in user's account.",
                "responses": {
                    "200": {
                        "description": "Success."
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError400"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError401"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError404"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited429"
                    }
                }
            }
        }
    },
    "components": {
        "responses": {
            "BadRequestError400": {
                "description": "Error thrown when an invalid request is made, such as missing required body fields or passing in a string where a number was expected.\n\nNote this does not include errors around the validity of the authorization header.\n\n[MDN Reference](https://developer.mozilla.org/en-US/docs/Web/HTTP/Reference/Status/400)",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/SiteErrorObject"
                                }
                            ],
                            "properties": {
                                "message": {
                                    "type": "string"
                                },
                                "extra": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "path": {
                                                "type": "string"
                                            },
                                            "message": {
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "path",
                                            "message"
                                        ]
                                    }
                                }
                            }
                        },
                        "example": {
                            "title": "Invalid Origin",
                            "description": "The origin header of your request (\"https://example.com\") isn't in the approved client URLs list."
                        }
                    }
                }
            },
            "ForbiddenError403": {
                "description": "Error thrown when a request is made with insufficient permissions, or to do something that is not allowed no matter the permissions.\n\n[MDN Reference](https://developer.mozilla.org/en-US/docs/Web/HTTP/Reference/Status/403)",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/SiteErrorObject"
                                }
                            ],
                            "properties": {
                                "missingPermissions": {
                                    "$ref": "#/components/schemas/PermissionsObject"
                                }
                            }
                        },
                        "example": {
                            "title": "Missing Permissions",
                            "description": "You do not have the required permissions to do this action.",
                            "missingPermissions": {
                                "generalPermissions": 3
                            }
                        }
                    }
                }
            },
            "NotFoundError404": {
                "description": "Error thrown when a resource does not exist in the database.\n\n[MDN Reference](https://developer.mozilla.org/en-US/docs/Web/HTTP/Reference/Status/404)",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/SiteErrorObject"
                        }
                    }
                }
            },
            "SecondaryRequestError501": {
                "description": "Error thrown when an API call made by the server to another server fails.\n\nAlthough this **should** have a status code of 502 (Bad Gateway), Cloudflare likes to overwrite 502 errors with its own error page, so 501 is used instead.\n\n[MDN Reference](https://developer.mozilla.org/en-US/docs/Web/HTTP/Reference/Status/502)",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/SiteErrorObject"
                                }
                            ],
                            "properties": {
                                "error": {
                                    "type": "string",
                                    "description": "Upstream error, if applicable."
                                },
                                "errorDescription": {
                                    "type": "string",
                                    "description": "Upstream error description, if applicable."
                                }
                            }
                        },
                        "example": {
                            "title": "Token Request Failure",
                            "description": "Failed to obtain a Discord access token, the supplied code or redirect URI may be invalid.",
                            "error": "invalid_grant",
                            "errorDescription": "Invalid \"redirect_uri\" in request."
                        }
                    }
                }
            },
            "UnauthorizedError401": {
                "description": "Error thrown when a request is made with missing or malformed credentials, such as having an invalid site token.\n\nHas status code 401 (Unauthorized), since the user has failed authentication.\n\n[MDN Reference](https://developer.mozilla.org/en-US/docs/Web/HTTP/Reference/Status/401)",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/SiteErrorObject"
                        },
                        "example": {
                            "title": "Missing Token",
                            "description": "A token was not provided in the \"Authorization\" header."
                        }
                    }
                },
                "headers": {
                    "WWW-Authenticate": {
                        "schema": {
                            "type": "string",
                            "example": "Bearer"
                        }
                    }
                }
            },
            "RateLimited429": {
                "description": "Too many requests, rate limited.\n\n[IETF Draft 8](https://datatracker.ietf.org/doc/html/draft-ietf-httpapi-ratelimit-headers-08)",
                "headers": {
                    "RateLimit": {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "\"30-in-1min\"; r=27; t=54"
                        },
                        "description": "- 'r' (remaining) = number of requests you can currently make before getting rate limited.\n- 't' = number of seconds until the next rate limit reset."
                    },
                    "RateLimit-Policy": {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "\"30-in-1min\"; q=30; w=60;"
                        },
                        "description": "- 'q' (quota) = number of requests that can ever be made before getting rate limited.\n- 'w' = number of seconds between rate limit resets."
                    }
                }
            }
        },
        "securitySchemes": {
            "userToken": {
                "type": "http",
                "scheme": "bearer"
            }
        },
        "schemas": {
            "EconomyPermissions": {
                "type": "integer",
                "minimum": 0,
                "maximum": 0,
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/Permissions/EconomyPermissions.ts",
                    "description": "types/Permissions/EconomyPermissions.ts"
                }
            },
            "GeneralPermissions": {
                "type": "integer",
                "minimum": 0,
                "maximum": 0,
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/Permissions/GeneralPermissions.ts",
                    "description": "types/Permissions/GeneralPermissions.ts"
                }
            },
            "PermissionsObject": {
                "type": "object",
                "properties": {
                    "generalPermissions": {
                        "$ref": "#/components/schemas/GeneralPermissions"
                    },
                    "economyPermissions": {
                        "$ref": "#/components/schemas/EconomyPermissions"
                    }
                },
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/Permissions/PermissionsObject.ts",
                    "description": "types/Permissions/PermissionsObject.ts"
                }
            },
            "LoginRequest": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "redirectUri": {
                        "type": "string"
                    }
                },
                "required": [
                    "code",
                    "redirectUri"
                ],
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/Requests/LoginRequest.ts",
                    "description": "types/Requests/LoginRequest.ts"
                }
            },
            "AuthResponse": {
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/GetMeResponse"
                    }
                ],
                "properties": {
                    "expiresAt": {
                        "$ref": "#/components/schemas/IsoString"
                    },
                    "token": {
                        "$ref": "#/components/schemas/UserToken"
                    },
                    "sessionId": {
                        "$ref": "#/components/schemas/UserSessionId"
                    }
                },
                "required": [
                    "expiresAt",
                    "token",
                    "sessionId"
                ],
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/Responses/AuthResponse.ts",
                    "description": "types/Responses/AuthResponse.ts"
                }
            },
            "GetMeResponse": {
                "type": "object",
                "properties": {
                    "user": {
                        "$ref": "#/components/schemas/UserBasicWithSteam"
                    },
                    "steamUsers": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SteamUserBasicWithTimes"
                        }
                    }
                },
                "required": [
                    "user",
                    "steamUsers"
                ],
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/Responses/GetMeResponse.ts",
                    "description": "types/Responses/GetMeResponse.ts"
                }
            },
            "HexColorString": {
                "type": "string"
            },
            "IsoString": {
                "type": "string",
                "description": "A string in ISO format, used to store dates.\n\nhttps://en.wikipedia.org/wiki/ISO_8601",
                "example": "2022-11-08T02:20:08.190Z",
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/Common.ts",
                    "description": "types/Common.ts"
                }
            },
            "DiscordId": {
                "type": "string",
                "description": "A Discord ID snowflake.\n\nhttps://discord.com/developers/docs/reference#snowflakes",
                "example": "240312568273436674",
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/Common.ts",
                    "description": "types/Common.ts"
                }
            },
            "SteamId64": {
                "type": "string",
                "description": "A SteamID64 account identifier.\n\nhttps://steamid.io/",
                "example": "76561198200316171",
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/Common.ts",
                    "description": "types/Common.ts"
                }
            },
            "UserToken": {
                "type": "string",
                "description": "An authorization token used by our users.\n\nAlso serves as a Discord OAuth2 access token.\n\nhttps://docs.discord.com/developers/topics/oauth2",
                "example": "6qrZcUqja7812RVdnEKjpzOL4CvHBFG",
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/Common.ts",
                    "description": "types/Common.ts"
                }
            },
            "PluginToken": {
                "type": "string",
                "description": "An authorization token used by our SCP:SL plugins.",
                "example": "dd61ae073412c7738e687847c658e94a",
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/Common.ts",
                    "description": "types/Common.ts"
                }
            },
            "Ip": {
                "type": "string",
                "description": "An IP address, not uniformly structured!",
                "example": "152.143.112.125",
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/Common.ts",
                    "description": "types/Common.ts"
                }
            },
            "UserAgent": {
                "type": "string",
                "description": "Browser and other software information.\n\n[MDN Reference](https://developer.mozilla.org/en-US/docs/Web/API/Navigator/userAgent)",
                "example": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:148.0) Gecko/20100101 Firefox/148.0",
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/Common.ts",
                    "description": "types/Common.ts"
                }
            },
            "Origin": {
                "type": "string",
                "description": "An origin URL of a client.",
                "example": "https://dev.pantheoncommunity.org",
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/Common.ts",
                    "description": "types/Common.ts"
                }
            },
            "UserSessionId": {
                "type": "string",
                "description": "Way of uniquely referring to a user session.\n\nAlthough the **accessToken** field of a user session is also unique, using it to externally identify user sessions has obvious security drawbacks.",
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/Common.ts",
                    "description": "types/Common.ts"
                }
            },
            "SiteErrorObject": {
                "type": "object",
                "properties": {
                    "title": {
                        "type": "string",
                        "description": "The error described in a few words.",
                        "example": "User Not Found"
                    },
                    "description": {
                        "type": "string",
                        "description": "A sentence that explains how the error occurred.",
                        "example": "A user with this ID does not exist in the database."
                    }
                },
                "required": [
                    "title",
                    "description"
                ],
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/SiteErrorObject.ts",
                    "description": "types/SiteErrorObject.ts"
                }
            },
            "SteamUser": {
                "type": "object",
                "description": "Steam user information, sourced from either in-game player info or Discord user connections.\n\nNote that tracking fields (**firstSeenAt**, **lastSeenAt**, and **timesSeen**) are only updated from in-game player info - never from Discord user conections. This is because in-game activity is much more useful to us than website activity.",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/SteamId64"
                    },
                    "username": {
                        "type": "string",
                        "description": "Latest username associated with this Steam ID.\n\nThis may come from in-game player info or a Discord user connection."
                    },
                    "firstSeenAt": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/IsoString"
                            },
                            {
                                "$ref": "#/components/schemas/Null"
                            }
                        ],
                        "description": "When this Steam ID was first seen in-game."
                    },
                    "lastSeenAt": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/IsoString"
                            },
                            {
                                "$ref": "#/components/schemas/Null"
                            }
                        ],
                        "description": "When this Steam ID was last seen in-game."
                    },
                    "timesSeen": {
                        "type": "integer",
                        "description": "Number of times this Steam ID has been seen in-game."
                    }
                },
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/SteamUser.ts",
                    "description": "types/SteamUser.ts"
                }
            },
            "SteamUserBasic": {
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/SteamUser"
                    }
                ],
                "required": [
                    "id",
                    "username"
                ],
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/SteamUser.ts",
                    "description": "types/SteamUser.ts"
                }
            },
            "SteamUserBasicWithTimes": {
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/SteamUser"
                    }
                ],
                "required": [
                    "id",
                    "username",
                    "firstSeenAt",
                    "lastSeenAt"
                ],
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/SteamUser.ts",
                    "description": "types/SteamUser.ts"
                }
            },
            "SteamUserFromDiscord": {
                "type": "object",
                "properties": {
                    "discordId": {
                        "$ref": "#/components/schemas/DiscordId"
                    },
                    "steamId": {
                        "$ref": "#/components/schemas/SteamId64"
                    },
                    "steamUsername": {
                        "type": "string"
                    }
                },
                "required": [
                    "discordId",
                    "steamId",
                    "steamUsername"
                ],
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/SteamUserFromDiscord.ts",
                    "description": "types/SteamUserFromDiscord.ts"
                }
            },
            "SteamUserInfo": {
                "type": "object",
                "properties": {
                    "avatarFull": {
                        "type": "string",
                        "nullable": true,
                        "example": "https://avatars.fastly.steamstatic.com/d789a47289ccb8c36eea2055a9b700e7718c6fac_full.jpg"
                    },
                    "location": {
                        "type": "string",
                        "nullable": true,
                        "example": "New Zealand"
                    },
                    "memberSince": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/IsoString"
                            },
                            {
                                "$ref": "#/components/schemas/Null"
                            }
                        ]
                    }
                },
                "required": [
                    "avatarFull",
                    "location",
                    "memberSince"
                ],
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/SteamUserInfo.ts",
                    "description": "types/SteamUserInfo.ts"
                }
            },
            "User": {
                "type": "object",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/DiscordId"
                    },
                    "username": {
                        "type": "string"
                    },
                    "avatar": {
                        "type": "string",
                        "nullable": true
                    },
                    "steam": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/SteamUserBasicWithTimes"
                            },
                            {
                                "$ref": "#/components/schemas/Null"
                            }
                        ]
                    },
                    "firstSeenAt": {
                        "$ref": "#/components/schemas/IsoString"
                    },
                    "lastSeenAt": {
                        "$ref": "#/components/schemas/IsoString"
                    },
                    "ip": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/Ip"
                            },
                            {
                                "$ref": "#/components/schemas/Null"
                            }
                        ]
                    },
                    "userAgent": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/UserAgent"
                            },
                            {
                                "$ref": "#/components/schemas/Null"
                            }
                        ]
                    },
                    "origin": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/Origin"
                            },
                            {
                                "$ref": "#/components/schemas/Null"
                            }
                        ]
                    },
                    "lifetimeActionCount": {
                        "type": "integer"
                    }
                },
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/User.ts",
                    "description": "types/User.ts"
                }
            },
            "UserBasic": {
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/User"
                    }
                ],
                "required": [
                    "id",
                    "username",
                    "avatar"
                ],
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/User.ts",
                    "description": "types/User.ts"
                }
            },
            "UserBasicWithSteam": {
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/User"
                    }
                ],
                "required": [
                    "id",
                    "username",
                    "avatar",
                    "steam"
                ],
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/User.ts",
                    "description": "types/User.ts"
                }
            },
            "UserFromSteam": {
                "type": "object",
                "properties": {
                    "steamId": {
                        "$ref": "#/components/schemas/SteamId64"
                    },
                    "discordId": {
                        "$ref": "#/components/schemas/DiscordId"
                    },
                    "discordUsername": {
                        "type": "string"
                    },
                    "discordAvatar": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "required": [
                    "steamId",
                    "discordId",
                    "discordUsername",
                    "discordAvatar"
                ],
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/UserFromSteam.ts",
                    "description": "types/UserFromSteam.ts"
                }
            },
            "UserSession": {
                "type": "object",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/UserSessionId"
                    },
                    "accessToken": {
                        "$ref": "#/components/schemas/UserToken"
                    },
                    "refreshToken": {
                        "$ref": "#/components/schemas/UserToken"
                    },
                    "startedAt": {
                        "$ref": "#/components/schemas/IsoString"
                    },
                    "expiresAt": {
                        "$ref": "#/components/schemas/IsoString"
                    },
                    "timesRefreshed": {
                        "type": "integer"
                    },
                    "userId": {
                        "$ref": "#/components/schemas/DiscordId"
                    },
                    "ip": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/Ip"
                            },
                            {
                                "$ref": "#/components/schemas/Null"
                            }
                        ]
                    },
                    "userAgent": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/UserAgent"
                            },
                            {
                                "$ref": "#/components/schemas/Null"
                            }
                        ]
                    },
                    "actionCount": {
                        "type": "integer",
                        "description": "This does not include the creation or refreshing of the session."
                    },
                    "lastActionAt": {
                        "$ref": "#/components/schemas/IsoString"
                    }
                },
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/UserSession.ts",
                    "description": "types/UserSession.ts"
                }
            },
            "UserSessionBasic": {
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/UserSession"
                    }
                ],
                "required": [
                    "id",
                    "startedAt",
                    "ip",
                    "userAgent",
                    "lastActionAt"
                ],
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/UserSession.ts",
                    "description": "types/UserSession.ts"
                }
            },
            "Null": {
                "description": "Schema representation of the **null** type.",
                "type": "object",
                "nullable": true,
                "additionalProperties": false
            }
        }
    },
    "tags": [
        {
            "name": "Miscellaneous",
            "description": "Miscellaneous functionality."
        },
        {
            "name": "Auth",
            "description": "Logging in, logging out, and refreshing."
        },
        {
            "name": "User",
            "description": "User-related functionality."
        },
        {
            "name": "Lookups",
            "description": "Endpoints used by our other services for Steam and Discord user lookups."
        }
    ]
}