{
    "$schema": ".github/openapi.schema.json",
    "openapi": "3.0.3",
    "info": {
        "title": "Pantheon API",
        "description": "# PantheonAPI [![CI](https://github.com/Pantheon-Community/PantheonAPI/actions/workflows/ci.yml/badge.svg)](https://github.com/Pantheon-Community/PantheonAPI/actions/workflows/ci.yml) [![Deploy](https://github.com/Pantheon-Community/PantheonAPI/actions/workflows/deploy.yml/badge.svg)](https://github.com/Pantheon-Community/PantheonAPI/actions/workflows/deploy.yml) [![codecov](https://codecov.io/gh/Pantheon-Community/PantheonAPI/graph/badge.svg?token=46UQNVJ8S3)](https://codecov.io/gh/Pantheon-Community/PantheonAPI)\n\nCentralised API for the Pantheon Community server network.\n\n[![Bun](https://img.shields.io/badge/Bun-000?style=for-the-badge&logo=bun&logoColor=white)](https://bun.com/)\n[![Typescript](https://img.shields.io/badge/TypeScript-007ACC?style=for-the-badge&logo=typescript&logoColor=white)](https://www.typescriptlang.org/)\n[![Express.js](https://img.shields.io/badge/Express.js-000000?logo=express&logoColor=fff&style=for-the-badge)](https://expressjs.com/)\n[![PostgreSQL](https://img.shields.io/badge/postgresql-4169e1?style=for-the-badge&logo=postgresql&logoColor=white)](https://www.postgresql.org/)\n[![Docker](https://img.shields.io/badge/docker-257bd6?style=for-the-badge&logo=docker&logoColor=white)](https://www.docker.com/)\n\n### Links\n\n- [Github Repository](https://github.com/Pantheon-Community/PantheonAPI)\n- [Live Build](https://api.pantheoncommunity.org)\n- [Dev Client](https://github.com/Pantheon-Community/PantheonAPI-Client)\n\n### Installation\n\nIf you want to set up your own instance, see the [install guide](https://github.com/Pantheon-Community/PantheonAPI/blob/main/docs/INSTALL_GUIDE.md).\n\n### Contact\n\nIf you need help using or developing the API, feel free to message NachoToast on Discord.\n\n### Licensing\n\nThis API and its source code is licensed under the MIT license. [Read more here](https://github.com/Pantheon-Community/PantheonAPI/blob/main/LICENSE).\n\n![Stylised Roman centurion helmet with blue highlights](./logo.png)",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.pantheoncommunity.org",
            "description": "Production Server"
        },
        {
            "url": "http://localhost:{port}",
            "description": "Local Development Server",
            "variables": {
                "port": {
                    "description": "`API_PORT` environment variable.",
                    "default": "5000"
                }
            }
        }
    ],
    "paths": {
        "/": {
            "get": {
                "tags": [
                    "Miscellaneous"
                ],
                "operationId": "getRoot",
                "responses": {
                    "200": {
                        "description": "Main API viewing page.",
                        "content": {
                            "text/html": {}
                        }
                    }
                }
            }
        },
        "/spec": {
            "get": {
                "tags": [
                    "Miscellaneous"
                ],
                "responses": {
                    "200": {
                        "description": "OpenAPI specification for the FoundationX API.",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/api-docs": {
            "get": {
                "tags": [
                    "Miscellaneous"
                ],
                "responses": {
                    "200": {
                        "description": "Alternate API viewing page.",
                        "content": {
                            "text/html": {}
                        }
                    }
                }
            }
        },
        "/ip": {
            "get": {
                "tags": [
                    "Miscellaneous"
                ],
                "operationId": "getIp",
                "description": "Returns IP address information, useful for debugging proxies.",
                "responses": {
                    "200": {
                        "description": "IP address of request, may be `::` if viewing from the same network.",
                        "content": {
                            "text/html": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/Ip"
                                        },
                                        {
                                            "$ref": "#/components/schemas/Null"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError400"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited429"
                    }
                }
            }
        },
        "/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "operationId": "postLogin",
                "description": "Completes the Discord OAuth2 login flow.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoginRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "User data and a token for making elevated requests to the API.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuthResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError400"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited429"
                    },
                    "501": {
                        "$ref": "#/components/responses/SecondaryRequestError501"
                    }
                }
            }
        },
        "/logout": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "operationId": "postLogout",
                "security": [
                    {
                        "userToken": []
                    }
                ],
                "description": "Ends an existing Discord OAuth2 session.",
                "responses": {
                    "200": {
                        "description": "No data."
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError400"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError401"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError404"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited429"
                    },
                    "501": {
                        "$ref": "#/components/responses/SecondaryRequestError501"
                    }
                }
            }
        },
        "/refresh": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "operationId": "postRefresh",
                "security": [
                    {
                        "userToken": []
                    }
                ],
                "description": "Refreshes an existing Discord OAuth2 session.",
                "responses": {
                    "200": {
                        "description": "User data and a token for making elevated requests to the API.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuthResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError400"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError401"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError404"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited429"
                    },
                    "501": {
                        "$ref": "#/components/responses/SecondaryRequestError501"
                    }
                }
            }
        },
        "/economy/rewards": {
            "get": {
                "tags": [
                    "Economy"
                ],
                "operationId": "getRewards",
                "description": "Gets all economy rewards.",
                "responses": {
                    "200": {
                        "description": "List of rewards.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/EconomyReward"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError400"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited429"
                    }
                }
            },
            "post": {
                "tags": [
                    "Economy"
                ],
                "operationId": "postRewards",
                "security": [
                    {
                        "userToken": []
                    }
                ],
                "description": "Creates a new economy reward.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EconomyRewardInput"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The ID of the created reward.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RewardId"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError400"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError401"
                    },
                    "403": {
                        "$ref": "#/components/responses/ForbiddenError403"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited429"
                    }
                }
            }
        },
        "/economy/rewards/{id}": {
            "parameters": [
                {
                    "required": true,
                    "in": "path",
                    "name": "id",
                    "schema": {
                        "$ref": "#/components/schemas/RewardId"
                    }
                }
            ],
            "patch": {
                "tags": [
                    "Economy"
                ],
                "operationId": "patchReward",
                "security": [
                    {
                        "userToken": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EconomyRewardInput"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success, no content."
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError400"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError401"
                    },
                    "403": {
                        "$ref": "#/components/responses/ForbiddenError403"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError404"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited429"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Economy"
                ],
                "operationId": "deleteReward",
                "security": [
                    {
                        "userToken": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success, no content."
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError400"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError401"
                    },
                    "403": {
                        "$ref": "#/components/responses/ForbiddenError403"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError404"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited429"
                    }
                }
            }
        },
        "/lookup/discord-to-steam": {
            "parameters": [
                {
                    "required": true,
                    "in": "query",
                    "name": "ids",
                    "explode": false,
                    "schema": {
                        "type": "array",
                        "minItems": 1,
                        "maxItems": 60,
                        "items": {
                            "$ref": "#/components/schemas/DiscordId"
                        }
                    }
                }
            ],
            "get": {
                "tags": [
                    "Lookups"
                ],
                "operationId": "getDiscordToSteam",
                "security": [],
                "description": "Returns Steam user info from Discord IDs.",
                "responses": {
                    "200": {
                        "description": "Array of the relevant Steam users for each of the the given Steam IDs.\n\nNote that this does **not** map 1:1 with the input array, since a Discord ID may not be associated with any steam users.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "$ref": "#/components/schemas/SteamUserFromDiscord"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError400"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited429"
                    }
                }
            }
        },
        "/lookup/steam-to-discord": {
            "parameters": [
                {
                    "required": true,
                    "in": "query",
                    "name": "ids",
                    "explode": false,
                    "schema": {
                        "type": "array",
                        "minItems": 1,
                        "maxItems": 60,
                        "items": {
                            "$ref": "#/components/schemas/SteamId64"
                        }
                    }
                }
            ],
            "get": {
                "tags": [
                    "Lookups"
                ],
                "operationId": "getSteamToDiscord",
                "security": [],
                "description": "Returns Discord user info from Steam IDs.",
                "responses": {
                    "200": {
                        "description": "Array of the relevant Discord user(s) for the given Steam IDs.\n\nNote that this does **not** map 1:1 with the input array, since a Steam ID can be associated with any number of users.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/UserFromSteam"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError400"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited429"
                    }
                }
            }
        },
        "/lookup/steam-direct": {
            "parameters": [
                {
                    "required": true,
                    "in": "query",
                    "name": "ids",
                    "explode": false,
                    "schema": {
                        "type": "array",
                        "minItems": 1,
                        "maxItems": 60,
                        "items": {
                            "$ref": "#/components/schemas/SteamId64"
                        }
                    }
                }
            ],
            "get": {
                "tags": [
                    "Lookups"
                ],
                "operationId": "getSteamDirect",
                "security": [],
                "description": "Returns Steam user info from Steam IDs directly.",
                "responses": {
                    "200": {
                        "description": "Array of the relevant Steam user info for the given Steam IDs.\n\nThis **does not** map 1:1 with the input array.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/SteamUserWithTimesAndDiscord"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError400"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited429"
                    }
                }
            }
        },
        "/users/@me": {
            "get": {
                "tags": [
                    "Users"
                ],
                "operationId": "getMe",
                "security": [
                    {
                        "userToken": []
                    }
                ],
                "description": "Gets information about the currently logged-in user.",
                "responses": {
                    "200": {
                        "description": "User information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetMeResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError400"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError401"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited429"
                    },
                    "501": {
                        "$ref": "#/components/responses/SecondaryRequestError501"
                    }
                }
            }
        },
        "/users/@me/sessions": {
            "get": {
                "tags": [
                    "Users"
                ],
                "operationId": "getMeSessions",
                "security": [
                    {
                        "userToken": []
                    }
                ],
                "description": "Returns all non-expired sessions of the currently logged-in user.",
                "responses": {
                    "200": {
                        "description": "User sessions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/UserSessionBasic"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError400"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError401"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited429"
                    }
                }
            }
        },
        "/users/@me/sessions/{id}": {
            "parameters": [
                {
                    "required": true,
                    "in": "path",
                    "name": "id",
                    "schema": {
                        "$ref": "#/components/schemas/UserSessionId"
                    }
                }
            ],
            "delete": {
                "tags": [
                    "Users"
                ],
                "operationId": "deleteMeSession",
                "security": [
                    {
                        "userToken": []
                    }
                ],
                "description": "Deletes a specific sessions of the currently logged-in user.",
                "responses": {
                    "200": {
                        "description": "Success, no content."
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError400"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError401"
                    },
                    "403": {
                        "$ref": "#/components/responses/ForbiddenError403"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError404"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited429"
                    }
                }
            }
        },
        "/users/@me/steam-users": {
            "get": {
                "tags": [
                    "Users"
                ],
                "operationId": "getMeSteamUsers",
                "security": [
                    {
                        "userToken": []
                    }
                ],
                "description": "Gets the Discord Steam connections of the currently logged-in user.",
                "responses": {
                    "200": {
                        "description": "User Steam connections.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/SteamUserWithTimes"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError400"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError401"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited429"
                    },
                    "501": {
                        "$ref": "#/components/responses/SecondaryRequestError501"
                    }
                }
            }
        },
        "/users/@me/steam-users/primary": {
            "delete": {
                "tags": [
                    "Users"
                ],
                "operationId": "deleteMeSteamUsersPrimary",
                "security": [
                    {
                        "userToken": []
                    }
                ],
                "description": "Clears the primary Steam connection of the currently logged-in user's account.",
                "responses": {
                    "200": {
                        "description": "Success, no content."
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError400"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError401"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited429"
                    }
                }
            }
        },
        "/users/@me/steam-users/primary/{id}": {
            "parameters": [
                {
                    "required": true,
                    "in": "path",
                    "name": "id",
                    "schema": {
                        "$ref": "#/components/schemas/SteamId64"
                    }
                }
            ],
            "put": {
                "tags": [
                    "Users"
                ],
                "operationId": "putMeSteamUsersPrimary",
                "security": [
                    {
                        "userToken": []
                    }
                ],
                "description": "Sets the primary Steam connection of the logged-in user's account.",
                "responses": {
                    "200": {
                        "description": "Success, no content."
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError400"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError401"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError404"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited429"
                    },
                    "501": {
                        "$ref": "#/components/responses/SecondaryRequestError501"
                    }
                }
            }
        },
        "/users/@me/roles": {
            "get": {
                "tags": [
                    "Users"
                ],
                "operationId": "getMeRoles",
                "security": [
                    {
                        "userToken": []
                    }
                ],
                "description": "Gets all the role IDs of the currently logged-in user.",
                "responses": {
                    "200": {
                        "description": "User role IDs.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/RoleId"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError400"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError401"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited429"
                    }
                }
            }
        },
        "/users/@me/pending-transactions": {
            "get": {
                "tags": [
                    "Users"
                ],
                "operationId": "getMePendingTransactions",
                "description": "Gets all pending transactions of the current user.",
                "security": [
                    {
                        "userToken": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of pending transactions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/EconomyTransaction"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError400"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError401"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited429"
                    }
                }
            },
            "post": {
                "tags": [
                    "Users"
                ],
                "operationId": "postMePendingTransactions",
                "description": "Creates new economy transactions for the current user.",
                "security": [
                    {
                        "userToken": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/MakeTransactionRequest"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success, no content."
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError400"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError401"
                    },
                    "403": {
                        "$ref": "#/components/responses/ForbiddenError403"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError404"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited429"
                    }
                }
            }
        },
        "/users/{id}": {
            "parameters": [
                {
                    "required": true,
                    "in": "path",
                    "name": "id",
                    "schema": {
                        "$ref": "#/components/schemas/DiscordId"
                    }
                }
            ],
            "get": {
                "tags": [
                    "Users"
                ],
                "operationId": "getUser",
                "security": [
                    {
                        "userToken": []
                    }
                ],
                "description": "Gets a user, returned data depends on permissions.",
                "responses": {
                    "200": {
                        "description": "User object.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserFromGetAll"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError400"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError401"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError404"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited429"
                    }
                }
            }
        },
        "/users/{userId}/roles/{roleId}": {
            "parameters": [
                {
                    "required": true,
                    "in": "path",
                    "name": "userId",
                    "schema": {
                        "$ref": "#/components/schemas/DiscordId"
                    }
                },
                {
                    "required": true,
                    "in": "path",
                    "name": "roleId",
                    "schema": {
                        "$ref": "#/components/schemas/RoleId"
                    }
                }
            ],
            "put": {
                "tags": [
                    "Users"
                ],
                "operationId": "putUserRole",
                "security": [
                    {
                        "userToken": []
                    }
                ],
                "description": "Gives a user a role.",
                "responses": {
                    "200": {
                        "description": "Success, no content."
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError400"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError401"
                    },
                    "403": {
                        "$ref": "#/components/responses/ForbiddenError403"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError404"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited429"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Users"
                ],
                "operationId": "deleteUserRole",
                "security": [
                    {
                        "userToken": []
                    }
                ],
                "description": "Removes a role from a user.",
                "responses": {
                    "200": {
                        "description": "Success, no content."
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError400"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError401"
                    },
                    "403": {
                        "$ref": "#/components/responses/ForbiddenError403"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError404"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited429"
                    }
                }
            }
        },
        "/users/@all": {
            "get": {
                "tags": [
                    "Users"
                ],
                "operationId": "getAllUsers",
                "security": [
                    {
                        "userToken": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/PageNumber"
                    },
                    {
                        "$ref": "#/components/parameters/PerPage"
                    },
                    {
                        "in": "query",
                        "name": "usernameSearch",
                        "description": "Discord username search.\n\nWill also search Steam usernames if the user has the **ViewUserConnections** permission.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "ipSearch",
                        "description": " IP address search.\n\nOnly applicable if the user has the **ViewUserSessions** permission.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/Ip"
                                }
                            ],
                            "example": ""
                        }
                    },
                    {
                        "in": "query",
                        "name": "orderBy",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "id",
                                "username",
                                "firstSeenAt",
                                "lastSeenAt",
                                "lifetimeActionCount"
                            ],
                            "default": "id"
                        }
                    },
                    {
                        "in": "query",
                        "name": "order",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "asc",
                                "desc"
                            ],
                            "default": "asc"
                        }
                    }
                ],
                "description": "Gets all users, returned data depends on permissions.",
                "responses": {
                    "200": {
                        "description": "List of users.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetAllUsersResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError400"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError401"
                    },
                    "403": {
                        "$ref": "#/components/responses/ForbiddenError403"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited429"
                    }
                }
            }
        },
        "/roles": {
            "get": {
                "tags": [
                    "Roles"
                ],
                "operationId": "getRoles",
                "description": "Gets all roles.",
                "responses": {
                    "200": {
                        "description": "List of all roles.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Role"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError400"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited429"
                    }
                }
            },
            "post": {
                "tags": [
                    "Roles"
                ],
                "operationId": "postRoles",
                "security": [
                    {
                        "userToken": []
                    }
                ],
                "description": "Creates a new role.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RoleInput"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The ID of the created role.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RoleId"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError400"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError401"
                    },
                    "403": {
                        "$ref": "#/components/responses/ForbiddenError403"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited429"
                    }
                }
            }
        },
        "/roles/{id}": {
            "parameters": [
                {
                    "required": true,
                    "in": "path",
                    "name": "id",
                    "schema": {
                        "$ref": "#/components/schemas/RoleId"
                    }
                }
            ],
            "delete": {
                "tags": [
                    "Roles"
                ],
                "operationId": "deleteRole",
                "security": [
                    {
                        "userToken": []
                    }
                ],
                "description": "Deletes an existing role.",
                "responses": {
                    "200": {
                        "description": "Success, no content."
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError400"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError401"
                    },
                    "403": {
                        "$ref": "#/components/responses/ForbiddenError403"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError404"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited429"
                    }
                }
            },
            "patch": {
                "tags": [
                    "Roles"
                ],
                "operationId": "patchRole",
                "security": [
                    {
                        "userToken": []
                    }
                ],
                "description": "Updates an existing role.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RoleInput"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success, no content."
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError400"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError401"
                    },
                    "403": {
                        "$ref": "#/components/responses/ForbiddenError403"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError404"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited429"
                    }
                }
            }
        }
    },
    "components": {
        "responses": {
            "BadRequestError400": {
                "description": "Error thrown when an invalid request is made, such as missing required body fields or passing in a string where a number was expected.\n\nNote this does not include errors around the validity of the authorization header.\n\n[MDN Reference](https://developer.mozilla.org/en-US/docs/Web/HTTP/Reference/Status/400)",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/SiteErrorObject"
                                }
                            ],
                            "properties": {
                                "message": {
                                    "type": "string"
                                },
                                "extra": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "path": {
                                                "type": "string"
                                            },
                                            "message": {
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "path",
                                            "message"
                                        ]
                                    }
                                }
                            }
                        },
                        "example": {
                            "title": "Invalid Origin",
                            "description": "The origin header of your request (\"https://example.com\") isn't in the approved client URLs list."
                        }
                    }
                }
            },
            "ForbiddenError403": {
                "description": "Error thrown when a request is made with insufficient permissions, or to do something that is not allowed no matter the permissions.\n\n[MDN Reference](https://developer.mozilla.org/en-US/docs/Web/HTTP/Reference/Status/403)",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/SiteErrorObject"
                                }
                            ],
                            "properties": {
                                "requiredPermissions": {
                                    "$ref": "#/components/schemas/PartialPermissionsObject"
                                },
                                "minimumLevel": {
                                    "$ref": "#/components/schemas/RoleLevel"
                                }
                            }
                        },
                        "example": {
                            "title": "Missing Permissions",
                            "description": "You do not have the required permissions to do this action.",
                            "requiredPermissions": {
                                "generalPermissions": 3
                            }
                        }
                    }
                }
            },
            "NotFoundError404": {
                "description": "Error thrown when a resource does not exist in the database.\n\n[MDN Reference](https://developer.mozilla.org/en-US/docs/Web/HTTP/Reference/Status/404)",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/SiteErrorObject"
                        }
                    }
                }
            },
            "SecondaryRequestError501": {
                "description": "Error thrown when an API call made by the server to another server fails.\n\nAlthough this **should** have a status code of 502 (Bad Gateway), Cloudflare likes to overwrite 502 errors with its own error page, so 501 is used instead.\n\n[MDN Reference](https://developer.mozilla.org/en-US/docs/Web/HTTP/Reference/Status/502)",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/SiteErrorObject"
                                }
                            ],
                            "properties": {
                                "error": {
                                    "type": "string",
                                    "description": "Upstream error, if applicable."
                                },
                                "errorDescription": {
                                    "type": "string",
                                    "description": "Upstream error description, if applicable."
                                }
                            }
                        },
                        "example": {
                            "title": "Token Request Failure",
                            "description": "Failed to obtain a Discord access token, the supplied code or redirect URI may be invalid.",
                            "error": "invalid_grant",
                            "errorDescription": "Invalid \"redirect_uri\" in request."
                        }
                    }
                }
            },
            "UnauthorizedError401": {
                "description": "Error thrown when a request is made with missing or malformed credentials, such as having an invalid site token.\n\nHas status code 401 (Unauthorized), since the user has failed authentication.\n\n[MDN Reference](https://developer.mozilla.org/en-US/docs/Web/HTTP/Reference/Status/401)",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/SiteErrorObject"
                        },
                        "example": {
                            "title": "Missing Token",
                            "description": "A token was not provided in the \"Authorization\" header."
                        }
                    }
                },
                "headers": {
                    "WWW-Authenticate": {
                        "schema": {
                            "type": "string",
                            "example": "Bearer"
                        }
                    }
                }
            },
            "RateLimited429": {
                "description": "Too many requests, rate limited.\n\n[IETF Draft 8](https://datatracker.ietf.org/doc/html/draft-ietf-httpapi-ratelimit-headers-08)",
                "headers": {
                    "RateLimit": {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "\"30-in-1min\"; r=27; t=54"
                        },
                        "description": "- 'r' (remaining) = number of requests you can currently make before getting rate limited.\n- 't' = number of seconds until the next rate limit reset."
                    },
                    "RateLimit-Policy": {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "\"30-in-1min\"; q=30; w=60;"
                        },
                        "description": "- 'q' (quota) = number of requests that can ever be made before getting rate limited.\n- 'w' = number of seconds between rate limit resets."
                    }
                }
            }
        },
        "securitySchemes": {
            "userToken": {
                "type": "http",
                "scheme": "bearer"
            }
        },
        "parameters": {
            "PageNumber": {
                "in": "query",
                "name": "page",
                "description": "Page number, starts at 0.",
                "schema": {
                    "type": "integer",
                    "minimum": 0,
                    "default": 0,
                    "externalDocs": {
                        "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/Pagination.ts",
                        "description": "types/Pagination.ts"
                    }
                }
            },
            "PerPage": {
                "in": "query",
                "name": "perPage",
                "description": "Maximum number of results to show per page.",
                "schema": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100,
                    "default": 20,
                    "externalDocs": {
                        "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/Pagination.ts",
                        "description": "types/Pagination.ts"
                    }
                }
            }
        },
        "schemas": {
            "GeneralPermissions": {
                "type": "integer",
                "minimum": 0,
                "maximum": 7,
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/Permissions/GeneralPermissions.ts",
                    "description": "types/Permissions/GeneralPermissions.ts"
                }
            },
            "PartialPermissionsObject": {
                "type": "object",
                "properties": {
                    "generalPermissions": {
                        "$ref": "#/components/schemas/GeneralPermissions"
                    },
                    "userPermissions": {
                        "$ref": "#/components/schemas/UserPermissions"
                    }
                },
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/Permissions/PermissionsObject.ts",
                    "description": "types/Permissions/PermissionsObject.ts"
                }
            },
            "PermissionsObject": {
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/PartialPermissionsObject"
                    }
                ],
                "required": [
                    "generalPermissions",
                    "userPermissions"
                ],
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/Permissions/PermissionsObject.ts",
                    "description": "types/Permissions/PermissionsObject.ts"
                }
            },
            "UserPermissions": {
                "type": "integer",
                "minimum": 0,
                "maximum": 127,
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/Permissions/UserPermissions.ts",
                    "description": "types/Permissions/UserPermissions.ts"
                }
            },
            "LoginRequest": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "redirectUri": {
                        "type": "string"
                    }
                },
                "required": [
                    "code",
                    "redirectUri"
                ],
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/Requests/LoginRequest.ts",
                    "description": "types/Requests/LoginRequest.ts"
                }
            },
            "MakeTransactionRequest": {
                "type": "object",
                "properties": {
                    "rewardId": {
                        "$ref": "#/components/schemas/RewardId"
                    },
                    "expectedPrice": {
                        "type": "integer"
                    }
                },
                "required": [
                    "rewardId",
                    "expectedPrice"
                ],
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/Requests/MakeTransactionRequest.ts",
                    "description": "types/Requests/MakeTransactionRequest.ts"
                }
            },
            "AuthResponse": {
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/GetMeResponse"
                    }
                ],
                "properties": {
                    "expiresAt": {
                        "$ref": "#/components/schemas/IsoString"
                    },
                    "token": {
                        "$ref": "#/components/schemas/UserToken"
                    },
                    "sessionId": {
                        "$ref": "#/components/schemas/UserSessionId"
                    },
                    "roleIds": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/RoleId"
                        }
                    }
                },
                "required": [
                    "expiresAt",
                    "token",
                    "sessionId",
                    "roleIds"
                ],
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/Responses/AuthResponse.ts",
                    "description": "types/Responses/AuthResponse.ts"
                }
            },
            "UserFromGetAll": {
                "type": "object",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/DiscordId"
                    },
                    "username": {
                        "type": "string"
                    },
                    "avatar": {
                        "type": "string",
                        "nullable": true
                    },
                    "roleIds": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/RoleId"
                        }
                    },
                    "steam": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/SteamUserWithTimes"
                            },
                            {
                                "$ref": "#/components/schemas/Null"
                            }
                        ]
                    }
                },
                "required": [
                    "id",
                    "username",
                    "avatar",
                    "roleIds"
                ],
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/User.ts",
                    "description": "types/User.ts"
                }
            },
            "GetAllUsersResponse": {
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/WithPagination"
                    }
                ],
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/UserFromGetAll"
                                }
                            ]
                        }
                    }
                },
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/Responses/GetAllUsersResponse.ts",
                    "description": "types/Responses/GetAllUsersResponse.ts"
                }
            },
            "GetMeResponse": {
                "type": "object",
                "properties": {
                    "user": {
                        "type": "object",
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/UserBasic"
                            }
                        ],
                        "properties": {
                            "steam": {
                                "anyOf": [
                                    {
                                        "$ref": "#/components/schemas/SteamUserWithTimes"
                                    },
                                    {
                                        "$ref": "#/components/schemas/Null"
                                    }
                                ]
                            },
                            "balance": {
                                "type": "integer"
                            },
                            "lifetimeBalance": {
                                "type": "integer"
                            },
                            "lifetimePurchaseCount": {
                                "type": "integer"
                            }
                        },
                        "required": [
                            "id",
                            "username",
                            "avatar",
                            "steam",
                            "balance",
                            "lifetimeBalance",
                            "lifetimePurchaseCount"
                        ],
                        "externalDocs": {
                            "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/Responses/GetMeResponse.ts",
                            "description": "types/Responses/GetMeResponse.ts"
                        }
                    },
                    "steamUsers": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SteamUserWithTimes"
                        }
                    }
                },
                "required": [
                    "user",
                    "steamUsers"
                ],
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/Responses/GetMeResponse.ts",
                    "description": "types/Responses/GetMeResponse.ts"
                }
            },
            "RewardId": {
                "type": "integer",
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/EconomyReward.ts",
                    "description": "types/EconomyReward.ts"
                }
            },
            "EconomyReward": {
                "type": "object",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/RewardId"
                    },
                    "title": {
                        "type": "string"
                    },
                    "subtitle": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "image": {
                        "type": "string"
                    },
                    "cost": {
                        "type": "integer"
                    },
                    "normalCost": {
                        "type": "integer"
                    },
                    "itemId": {
                        "type": "integer",
                        "nullable": true
                    },
                    "itemCount": {
                        "type": "integer"
                    },
                    "postedBy": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/DiscordId"
                            },
                            {
                                "$ref": "#/components/schemas/Null"
                            }
                        ]
                    },
                    "postedAt": {
                        "$ref": "#/components/schemas/IsoString"
                    },
                    "lastUpdatedAt": {
                        "$ref": "#/components/schemas/IsoString"
                    }
                },
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/EconomyReward.ts",
                    "description": "types/EconomyReward.ts"
                }
            },
            "EconomyRewardInput": {
                "type": "object",
                "properties": {
                    "title": {
                        "type": "string"
                    },
                    "subtitle": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "image": {
                        "type": "string"
                    },
                    "cost": {
                        "type": "integer"
                    },
                    "normalCost": {
                        "type": "integer"
                    },
                    "itemId": {
                        "type": "integer",
                        "nullable": true
                    },
                    "itemCount": {
                        "type": "integer"
                    }
                },
                "required": [
                    "title",
                    "subtitle",
                    "description",
                    "image",
                    "cost",
                    "normalCost",
                    "itemId",
                    "itemCount"
                ],
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/EconomyReward.ts",
                    "description": "types/EconomyReward.ts"
                }
            },
            "TransactionId": {
                "type": "integer",
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/EconomyTransaction.ts",
                    "description": "types/EconomyTransaction.ts"
                }
            },
            "EconomyTransaction": {
                "type": "object",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/TransactionId"
                    },
                    "rewardId": {
                        "$ref": "#/components/schemas/RewardId"
                    },
                    "cost": {
                        "type": "integer"
                    },
                    "madeAt": {
                        "$ref": "#/components/schemas/IsoString"
                    },
                    "purchaser": {
                        "$ref": "#/components/schemas/SteamId64"
                    }
                },
                "required": [
                    "id",
                    "rewardId",
                    "cost",
                    "madeAt",
                    "purchaser"
                ],
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/EconomyTransaction.ts",
                    "description": "types/EconomyTransaction.ts"
                }
            },
            "CompletedEconomyTransaction": {
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/EconomyTransaction"
                    }
                ],
                "properties": {
                    "completedAt": {
                        "$ref": "#/components/schemas/IsoString"
                    }
                },
                "required": [
                    "completedAt"
                ],
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/EconomyTransaction.ts",
                    "description": "types/EconomyTransaction.ts"
                }
            },
            "IsoString": {
                "type": "string",
                "description": "A string in ISO format, used to store dates.\n\nhttps://en.wikipedia.org/wiki/ISO_8601",
                "example": "2022-11-08T02:20:08.190Z",
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/Common.ts",
                    "description": "types/Common.ts"
                }
            },
            "DiscordId": {
                "type": "string",
                "description": "A Discord ID snowflake.\n\nhttps://discord.com/developers/docs/reference#snowflakes",
                "example": "240312568273436674",
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/Common.ts",
                    "description": "types/Common.ts"
                }
            },
            "UserToken": {
                "type": "string",
                "description": "An authorization token used by our users.\n\nAlso serves as a Discord OAuth2 access token.\n\nhttps://docs.discord.com/developers/topics/oauth2",
                "example": "6qrZcUqja7812RVdnEKjpzOL4CvHBFG",
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/Common.ts",
                    "description": "types/Common.ts"
                }
            },
            "PluginToken": {
                "type": "string",
                "description": "An authorization token used by our SCP:SL plugins.",
                "example": "dd61ae073412c7738e687847c658e94a",
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/Common.ts",
                    "description": "types/Common.ts"
                }
            },
            "Ip": {
                "type": "string",
                "description": "An IP address, not uniformly structured!",
                "example": "152.143.112.125",
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/Common.ts",
                    "description": "types/Common.ts"
                }
            },
            "UserAgent": {
                "type": "string",
                "description": "Browser and other software information.\n\n[MDN Reference](https://developer.mozilla.org/en-US/docs/Web/API/Navigator/userAgent)",
                "example": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:148.0) Gecko/20100101 Firefox/148.0",
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/Common.ts",
                    "description": "types/Common.ts"
                }
            },
            "Origin": {
                "type": "string",
                "description": "An origin URL of a client.",
                "example": "https://dev.pantheoncommunity.org",
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/Common.ts",
                    "description": "types/Common.ts"
                }
            },
            "WithPagination": {
                "type": "object",
                "properties": {
                    "totalItemCount": {
                        "type": "integer",
                        "description": "Total number of relevant items across all pages.",
                        "minimum": 0
                    },
                    "items": {
                        "type": "array"
                    }
                },
                "required": [
                    "totalItemCount",
                    "items"
                ],
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/Pagination.ts",
                    "description": "types/Pagination.ts"
                }
            },
            "RoleId": {
                "type": "integer",
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/Role.ts",
                    "description": "types/Role.ts"
                }
            },
            "RoleLevel": {
                "type": "integer",
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/Role.ts",
                    "description": "types/Role.ts"
                }
            },
            "Role": {
                "type": "object",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/RoleId"
                    },
                    "name": {
                        "type": "string"
                    },
                    "icon": {
                        "type": "string",
                        "nullable": true
                    },
                    "level": {
                        "$ref": "#/components/schemas/RoleLevel"
                    },
                    "permissions": {
                        "$ref": "#/components/schemas/PermissionsObject"
                    },
                    "category": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/Role.ts",
                    "description": "types/Role.ts"
                }
            },
            "RoleBasic": {
                "type": "object",
                "properties": {
                    "level": {
                        "$ref": "#/components/schemas/RoleLevel"
                    },
                    "permissions": {
                        "$ref": "#/components/schemas/PermissionsObject"
                    }
                },
                "required": [
                    "level",
                    "permissions"
                ],
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/Role.ts",
                    "description": "types/Role.ts"
                }
            },
            "RoleInput": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "icon": {
                        "type": "string",
                        "nullable": true
                    },
                    "level": {
                        "$ref": "#/components/schemas/RoleLevel"
                    },
                    "permissions": {
                        "$ref": "#/components/schemas/PermissionsObject"
                    },
                    "category": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "required": [
                    "name",
                    "icon",
                    "level",
                    "permissions",
                    "category"
                ],
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/Role.ts",
                    "description": "types/Role.ts"
                }
            },
            "SiteErrorObject": {
                "type": "object",
                "properties": {
                    "title": {
                        "type": "string",
                        "description": "The error described in a few words.",
                        "example": "User Not Found"
                    },
                    "description": {
                        "type": "string",
                        "description": "A sentence that explains how the error occurred.",
                        "example": "A user with this ID does not exist in the database."
                    }
                },
                "required": [
                    "title",
                    "description"
                ],
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/SiteErrorObject.ts",
                    "description": "types/SiteErrorObject.ts"
                }
            },
            "SteamId64": {
                "type": "string",
                "description": "A SteamID64 account identifier.\n\nhttps://steamid.io/",
                "example": "76561198200316171",
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/SteamUser.ts",
                    "description": "types/SteamUser.ts"
                }
            },
            "SteamUserAnalytics": {
                "type": "object",
                "description": "Information about a Steam user's in-game activity.",
                "properties": {
                    "firstSeenAt": {
                        "$ref": "#/components/schemas/IsoString"
                    },
                    "lastSeenAt": {
                        "$ref": "#/components/schemas/IsoString"
                    },
                    "timesSeen": {
                        "type": "integer"
                    }
                },
                "required": [
                    "firstSeenAt",
                    "lastSeenAt",
                    "timesSeen"
                ],
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/SteamUser.ts",
                    "description": "types/SteamUser.ts"
                }
            },
            "SteamUser": {
                "type": "object",
                "description": "Steam user information, sourced from either in-game player info or Discord user connections.",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/SteamId64"
                    },
                    "username": {
                        "type": "string",
                        "description": "Latest username associated with this Steam ID.\n\nThis may come from in-game player info or a Discord user connection."
                    },
                    "avatar": {
                        "type": "string",
                        "nullable": true,
                        "example": "https://avatars.fastly.steamstatic.com/d789a47289ccb8c36eea2055a9b700e7718c6fac_full.jpg"
                    },
                    "location": {
                        "type": "string",
                        "nullable": true,
                        "example": "New Zealand"
                    },
                    "memberSince": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/IsoString"
                            },
                            {
                                "$ref": "#/components/schemas/Null"
                            }
                        ]
                    },
                    "analytics": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/SteamUserAnalytics"
                            },
                            {
                                "$ref": "#/components/schemas/Null"
                            }
                        ]
                    }
                },
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/SteamUser.ts",
                    "description": "types/SteamUser.ts"
                }
            },
            "SteamUserBasic": {
                "type": "object",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/SteamId64"
                    },
                    "username": {
                        "type": "string",
                        "description": "Latest username associated with this Steam ID.\n\nThis may come from in-game player info or a Discord user connection."
                    },
                    "avatar": {
                        "type": "string",
                        "nullable": true,
                        "example": "https://avatars.fastly.steamstatic.com/d789a47289ccb8c36eea2055a9b700e7718c6fac_full.jpg"
                    },
                    "location": {
                        "type": "string",
                        "nullable": true,
                        "example": "New Zealand"
                    },
                    "memberSince": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/IsoString"
                            },
                            {
                                "$ref": "#/components/schemas/Null"
                            }
                        ]
                    }
                },
                "required": [
                    "id",
                    "username",
                    "avatar",
                    "location",
                    "memberSince"
                ],
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/SteamUser.ts",
                    "description": "types/SteamUser.ts"
                }
            },
            "SteamUserWithTimes": {
                "type": "object",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/SteamId64"
                    },
                    "username": {
                        "type": "string",
                        "description": "Latest username associated with this Steam ID.\n\nThis may come from in-game player info or a Discord user connection."
                    },
                    "avatar": {
                        "type": "string",
                        "nullable": true,
                        "example": "https://avatars.fastly.steamstatic.com/d789a47289ccb8c36eea2055a9b700e7718c6fac_full.jpg"
                    },
                    "location": {
                        "type": "string",
                        "nullable": true,
                        "example": "New Zealand"
                    },
                    "memberSince": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/IsoString"
                            },
                            {
                                "$ref": "#/components/schemas/Null"
                            }
                        ]
                    },
                    "analytics": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/SteamUserAnalytics"
                            },
                            {
                                "$ref": "#/components/schemas/Null"
                            }
                        ]
                    }
                },
                "required": [
                    "id",
                    "username",
                    "avatar",
                    "location",
                    "memberSince",
                    "analytics"
                ],
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/SteamUser.ts",
                    "description": "types/SteamUser.ts"
                }
            },
            "SteamUserWithTimesAndDiscord": {
                "type": "object",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/SteamId64"
                    },
                    "username": {
                        "type": "string",
                        "description": "Latest username associated with this Steam ID.\n\nThis may come from in-game player info or a Discord user connection."
                    },
                    "avatar": {
                        "type": "string",
                        "nullable": true,
                        "example": "https://avatars.fastly.steamstatic.com/d789a47289ccb8c36eea2055a9b700e7718c6fac_full.jpg"
                    },
                    "location": {
                        "type": "string",
                        "nullable": true,
                        "example": "New Zealand"
                    },
                    "memberSince": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/IsoString"
                            },
                            {
                                "$ref": "#/components/schemas/Null"
                            }
                        ]
                    },
                    "analytics": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/SteamUserAnalytics"
                            },
                            {
                                "$ref": "#/components/schemas/Null"
                            }
                        ]
                    },
                    "discord": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/UserBasic"
                            },
                            {
                                "$ref": "#/components/schemas/Null"
                            }
                        ]
                    }
                },
                "required": [
                    "id",
                    "username",
                    "avatar",
                    "location",
                    "memberSince",
                    "analytics"
                ],
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/SteamUser.ts",
                    "description": "types/SteamUser.ts"
                }
            },
            "SteamUserFromDiscord": {
                "type": "object",
                "properties": {
                    "discordId": {
                        "$ref": "#/components/schemas/DiscordId"
                    },
                    "steamId": {
                        "$ref": "#/components/schemas/SteamId64"
                    },
                    "steamUsername": {
                        "type": "string"
                    },
                    "steamAvatar": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "required": [
                    "discordId",
                    "steamId",
                    "steamUsername",
                    "steamAvatar"
                ],
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/SteamUserFromDiscord.ts",
                    "description": "types/SteamUserFromDiscord.ts"
                }
            },
            "User": {
                "type": "object",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/DiscordId"
                    },
                    "username": {
                        "type": "string"
                    },
                    "avatar": {
                        "type": "string",
                        "nullable": true
                    },
                    "steam": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/SteamUserWithTimes"
                            },
                            {
                                "$ref": "#/components/schemas/Null"
                            }
                        ]
                    },
                    "firstSeenAt": {
                        "$ref": "#/components/schemas/IsoString"
                    },
                    "lastSeenAt": {
                        "$ref": "#/components/schemas/IsoString"
                    },
                    "lifetimeActionCount": {
                        "type": "integer"
                    },
                    "ip": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/Ip"
                            },
                            {
                                "$ref": "#/components/schemas/Null"
                            }
                        ]
                    },
                    "userAgent": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/UserAgent"
                            },
                            {
                                "$ref": "#/components/schemas/Null"
                            }
                        ]
                    },
                    "origin": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/Origin"
                            },
                            {
                                "$ref": "#/components/schemas/Null"
                            }
                        ]
                    },
                    "balance": {
                        "type": "integer"
                    },
                    "lifetimeBalance": {
                        "type": "integer"
                    },
                    "lifetimePurchaseCount": {
                        "type": "integer"
                    }
                },
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/User.ts",
                    "description": "types/User.ts"
                }
            },
            "UserBasic": {
                "type": "object",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/DiscordId"
                    },
                    "username": {
                        "type": "string"
                    },
                    "avatar": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "required": [
                    "id",
                    "username",
                    "avatar"
                ],
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/User.ts",
                    "description": "types/User.ts"
                }
            },
            "UserFromSteam": {
                "type": "object",
                "properties": {
                    "steamId": {
                        "$ref": "#/components/schemas/SteamId64"
                    },
                    "discordId": {
                        "$ref": "#/components/schemas/DiscordId"
                    },
                    "discordUsername": {
                        "type": "string"
                    },
                    "discordAvatar": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "required": [
                    "steamId",
                    "discordId",
                    "discordUsername",
                    "discordAvatar"
                ],
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/UserFromSteam.ts",
                    "description": "types/UserFromSteam.ts"
                }
            },
            "UserSessionId": {
                "type": "integer",
                "description": "Way of uniquely referring to a user session.\n\nAlthough the **accessToken** field of a user session is also unique, using it to externally identify user sessions has obvious security drawbacks.",
                "externalDocs": {
                    "url": "https://github.com/Pantheon-Community/PantheonAPI-Types/blob/main/types/UserSession.ts",
                    "description": "types/UserSession.ts"
                }
            },
            "UserSessionBasic": {
                "type": "object",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/UserSessionId"
                    },
                    "startedAt": {
                        "$ref": "#/components/schemas/IsoString"
                    },
                    "ip": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/Ip"
                            },
                            {
                                "$ref": "#/components/schemas/Null"
                            }
                        ]
                    },
                    "userAgent": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/UserAgent"
                            },
                            {
                                "$ref": "#/components/schemas/Null"
                            }
                        ]
                    },
                    "origin": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/Origin"
                            },
                            {
                                "$ref": "#/components/schemas/Null"
                            }
                        ]
                    },
                    "lastActionAt": {
[...]
